th{
    text-align:left;
    

}

body{
font-size: 20pt;
width: 1500px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  div {
    text-align: center;
    border-style: solid;
    margin-left: 300px;
    width:60%
}
#alignment{
    margin-left: auto;
    margin-right: auto;

}

.topnav{
    overflow: hidden;
    background-color: #333;
}
.topnav a{
    float: left;
    display: #ffff;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ffff;
    color: black;
}
select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}
div{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
textarea{
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffff;
    font-size: 16px;
    resize: none;
    text-align: left;
}
#tamu{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#tamu td, #tamu th{
    border: 1px solid #ffff;
    padding: 8px;
}
#tamu tr:nth-child(even){
    background-color: #ffff;
}
#tamu tr:hover {
    background-color: #fff;
}
#tamu tr{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: black;
}
input[type=text], select{
    width : 100%;
    padding : 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width : 100%;
    background-color: #4CAF50;
    color:white;
    padding : 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.menu-bill{
    text-align: left;

}

